h1{
  color: red;
}
h2{
  color: rgb(231, 216, 115);
}
h3{
  color: rgb(154, 231, 115);
}
h4{
  color: rgb(115, 171, 231);
}
h5{
  color: rgb(192, 115, 231);
}
h6{
  color: rgb(231, 115, 115);
}

#heading-h5{
  background-color: aqua;
}

.zoom{
  font-size: 30px;
}

.center{
  text-align: center;
}

.klein{
  box-shadow: 2px 2px black;
  background-color: bisque;
}

*{
  text-transform: uppercase;
}

p,span{
  text-decoration: underline;
}

a:hover{
  color: red;
  cursor: pointer;
}

ul li:last-child {
  color: green;
}