#fluidDesignContainer {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fluidDesign {
  background-color: red;
  width: 50%;
  height: 50%;
}

#fixedDesignContainer {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

#pixelDesign {
  background-color: blue;
  width: 200px;
  height: 200px;
}

#emRem{
  margin-top: 50px;
}

#em-p{
  font-size: 7rem;
}

#em-p{
  font-size: 7em;
}